*.log
*.vscdb
*_0
*.code
**/CachedExtension*
**/Code Cache
**/*Cache*
**/Session*
**/*Crash*
**/*Storage
**/Backups
storage.json
TransportSecurity
rapid_render.json
machineid
Cookies-journal
Cookies
Network Persistent State
.org.chromium.Chromium.5JGiii
.org.chromium.Chromium.ObOcIc
Preferences
Dictionaries/en-US-9-0.bdic
